DEVICE=mgmt0
ONBOOT=yes
DEVICETYPE=ovs
TYPE=OVSBridge
OVS_OPTIONS="cloudbr 0"
BOOTPROTO=static
HOTPLUG=no
IPADDR={{ tm_bond_ip }}
GATEWAY={{ tm_bond_gateway }}
NETMASK={{ tm_bond_netmask }}
NM_CONTROLLED=no
